<h1>Relatorio</h1>

<table>
  <thead>
    <tr>
      <th width="100px" >Aluno</th>
      <th width="100px">Nota 1</th>
      <th width="100px">Nota 2</th>
      <th width="100px">Nota 3</th>
      <th width="100px">Nota 4</th>
      <th width="100px">Media</th>
      <th>Resultado</th>
    </tr>
  </thead>

  <tbody>
    <% @alunos.each do |aluno| %>
      <tr>
        <td align="center"><%= aluno.nome %></td>
        <td align="center"><%= aluno.nota1 %></td>
        <td align="center"><%= aluno.nota2 %></td>
        <td align="center"><%= aluno.nota3 %></td>
        <td align="center"><%= aluno.nota4 %></td>
        <td align="center"><%= aluno.media() %></td>
        <td align="center"><%= aluno.situacaoAluno() %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
